.btn {
  position: absolute;
  background: red;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px;
  display: inline-block;
  color: #fff;
  padding: 10px 15px;
  margin-left: 20px;
  right: 40px;
  font-family: "ubunturegular";
}