.features {
    background: url(./back.png) center center/ cover no-repeat;
    height: 780px;
}

.features__list {
    display: flex;
    justify-content: space-between;
}

.features__item {
    width: calc(100%/3-26);
}