.feature {
    text-align: center;
}

.feature__img {
    display: flex;
    justify-content: center;
}

.features__content {
    font-size: 14px;
    font-family: "ubuntulight";
}

ul,
li {
    list-style: none;
}