.feature {
    text-align: center;
}

.features__list {
    display: flex;
    @include phones {
        flex-direction: column;
    }
}

.features__item {
    display: flex;
    flex-direction: column;
    @include phones {
        display: flex;
        flex-direction: column;
    }
}

.feature__img {
    justify-content: center;
}

.features__content {
    font-family: "lifehack_basicregular";
}

.features__text {
    font-size: 14px;
    font-family: "ubuntulight";
}

h3 {
    font-family: "lifehack_medium";
    font-size: 20px;
}

ul,
li {
    list-style: none;
}