.hero {
  background: url("./images/black-fon.png") center center/cover no-repeat;
  color: #fff;
  position: relative;
  padding: 15px;
}

.hero__content {
  display: flex;
  align-items: center;
  flex: 1.2;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}