.menu__list {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
}

.menu__item {
    display: flex;
    align-items: center;
    font-family: "ubunturegular";
    padding-left: 10px;
    &:before {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: currentColor;
        margin-left: 10px;
    }
    &:first-child {
        &::before {
            display: none;
        }
    }
}

.menu__link {
    margin-left: 18px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding-left: 10px;
    font-family: "ubunturegular";
}