.scroll-down {
    background: url("./scroll-down/arrow-scroll\ \(1\).svg");
    position: absolute;
    width: rem(28px);
    height: rem(14px);
    bottom: rem(20px);
    left: 50%;
    transform: translateX(-50%);
}