.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: rem(650px);
    &--allign--top {
        justify-content: flex-start;
        height: 100vh;
        min-height: rem(650px);
    }
}

.section__title {
    font-size: rem(72px);
    color: #e8b348;
    margin-bottom: rem(50px);
    font-family: "gagalinregular";
    &--centered {
        text-align: center;
    }
    &--color--black {
        color: #333537;
    }
}

.hero__text {
    margin-bottom: rem(50px);
    color: #fff;
    width: 50%;
    padding-top: rem(94px);
    line-height: 1.1;
    font-family: "lifehack_basicregular";
}

.hero__desc {
    font-size: rem(52px);
    font-family: "lifehack_basicregular";
}

.hero__img-elem {
    width: 500px;
}