.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 650px;
}
.section--allign--top {
  justify-content: flex-start;
  height: 100vh;
  min-height: 650px;
}

.section__title {
  font-size: 72px;
  color: #e8b348;
  margin-bottom: 10px;
  font-family: "gagalinregular";
  padding-left: 50px;
}
.section__title--centered {
  text-align: center;
}
.section__title--color--black {
  color: #333537;
}
.section__title--george {
  color: #e8b348;
}
.section__title--george include tablets {
  text-align: center;
  padding-right: 40px;
  margin-top: 0px;
}