    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        min-height: 650px;
        &--allign--top {
            justify-content: flex-start;
            height: 100vh;
            min-height: 650px;
        }
    }
    
    .section__title {
        font-size: 72px;
        color: #e8b348;
        margin-bottom: 10px;
        font-family: "gagalinregular";
        padding-left: 50px;
        &--centered {
            text-align: center;
        }
        &--color--black {
            color: #333537;
        }
        &--george {
            color: #e8b348;
            include tablets {
                text-align: center;
                padding-right: 40px;
                margin-top: 0px;
            }
        }
        @include phones {
            text-align: center;
        }
    }
    
    .section__title {
        @include phones {
            font-size: 10px;
            text-align: center;
        }
    }