.team {
    background: url("./team/teampic.png") center center / cover no-repeat;
    position: relative;
}

.team__section {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 50%;
    background: rgba(#2f3234, .93);
    padding: 5% 2% 0 7%;
    @include tablets {
        left: 0;
        text-align: center;
    }
}

.team-acco__trigger {
    color: #fff;
    list-style: none;
    font-family: "gagalinregular";
    font-size: 14px;
    @include tablets {
        display: inline-flex;
    }
}

.team-acco__item {
    margin-bottom: 40px;
}

.team-acco__content {
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 20%;
    }
}

.team-acco__content__item {
    text-align: center;
    align-items: center;
    width: 50%;
    @include tablets {
        align-items: center;
        text-align: center;
    }
}

.team_text {
    width: 60%;
    font-family: "ubuntulight";
}

.jeims {
    margin-right: 50px;
    font-family: "ubuntulight";
}

.jeimsphoto {}

a {
    text-decoration: none;
}

.team-acco {
    @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 18%;
    }
}