.order__section {
    background: url("./chalkboard_texture_mc2015_by_mattiamc-d8dbnac.png") center center/ cover no-repeat;
}

.order__row {
    margin-bottom: rem(14px);
    display: flex;
}

.order__block {
    flex: 1;
    margin-right: rem(20px);
    &:last-child {
        margin-right: rem(0px);
    }
}

.order__title {
    margin-bottom: rem(5px);
}

.order__input {
    width: 100%;
    padding: rem(8px) rem(21px);
}